head
	meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
svg#blackRect(viewbox='-400 -400 800 800')
	g
		rect(x='-218px' y='-218px' width='436' height='436')
		animateTransform(id='rectRotate' attributeName="transform" type="rotate" dur="4s" values="360;30;0" keyTimes="0;.8;1")
		animateTransform(attributeName="transform" type="scale" dur="1s" values="1;10" begin="rectRotate.end+0.2s" fill="freeze")
		animate(attributeName="opacity" dur="1.3s" values="1;0" begin="5s" fill="freeze")


svg#blueCircle(viewbox='-400 -400 800 800')
	circle(fill='#0027C8' cx='0' cy='0' r='267')
		animate(attributeName="r" dur="4s" values="267;290;240;267")
		animateTransform(attributeName="transform" type="scale" dur="1s" values="1;10" begin="4.4s" fill="freeze")
		animate(attributeName="opacity" dur="1.3s" values="1;0" begin="5s" fill="freeze")
		


svg#pinkHexStar(viewbox='-400 -400 800 800')
	g
		polygon(fill='#FF3C82' points='-181.865,129.25 0,-185.75 181.865,129.25')
		polygon(fill='#FF3C82' points='181.865,-129.25 0,185.75 -181.865,-129.25')
		animateTransform(attributeName="transform" type="rotate" dur="4s" values="0;330;360" keyTimes="0;.8;1")
		animateTransform(attributeName="transform" type="scale" dur="1s" values="1;10" begin="4.6s" fill="freeze")
		animate(attributeName="opacity" dur="1.3s" values="1;0" begin="5s" fill="freeze")


.textArea
	h1 GEOMETRY PERSON
	p find your core personality type in shapes!